# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Homework_ReadWrite\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\Homework_ReadWrite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
